.home{
    width: 100%;
.heading {
    display: flex;
    align-items:initial;
    justify-content:flex-start;
    margin-left: 12%;
    padding-top: 2%;
    padding-bottom: 1%;

    color: #555;
    h2{

        font-size: 30px;
        font-family: "Roboto Slab", serif;
    }
}
}