.add{
    display: flex;
    justify-content: center;
    .container{
        width: 1400px;
        padding: 50px;

        h1{
            color: gray;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        .left{
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            width: 100%;

            label{
                font-size: 18px;
                // color: gray;
            }
            input, select, textarea{
                padding: 10px;
                border: 1px solid rgb(227, 217, 217);
                border-radius: 10px;
                width: 100%;
            }


            button{
                background-color: #1dbf73;
                padding: 20px;
                color: white;
                font-weight: 500;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                width: 100%;
              }
        }
    }
}