.skill{
    display: flex;
    justify-content: center;

    .container{
        width: 100%;
        padding: 30px 0px;
        display: flex;
        // justify-content: center;
        gap: 50px;

        .left{
            width: 50%;
            flex:2;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-left: 12%;

            .breadcrumbs{
                
                font-weight: 300;
                font-size: 13px;
                color: #555;
            }

            .user{
                display: flex;
                align-items: center;
                gap: 10px;

                .pp{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }

                span{
                    font-size: 14px;
                    font-weight: 500;
                }

                .stars{
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img{
                        width: 14px;
                        height: 14px;
                    }
                    span{
                        font-size: 14px;
                        font-weight: bold;
                        color: #ffc108;
                    }
                }
            }
            .slider{
                img{
                    max-height: 500px;
                    object-fit: contain;
                }
            }

            h2{
                font-weight: 400;
            }

            p{
                font-weight: 300;
                color:#555;
                line-height: 25px;
            }

            .user2{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .user{
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .info{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .stars{
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            img{
                                width: 14px;
                                height: 14px;
                            }
                            span{
                                font-size: 14px;
                                font-weight: bold;
                                color: #ffc108;
                            }
                        }
                        button{
                            background-color: white;
                            border-radius: 5px;
                            border: 1px solid gray;
                            padding: 10px; 
                            cursor: pointer;
                        }
                    
                    }
                }
                .box{
                    border: 1px solid lightgray;
                    border-radius: 5px;
                    padding: 20px;
                    margin-top: 20px;

                    .items{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .item{
                            width: 300px;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            margin-bottom: 20px;

                            .title{
                                font-weight: 300;
                                color: #555;
                            }
                        }
                    }
                    hr{
                        height: 0;
                        border: 1px solid lightgray;
                        margin-bottom: 20px;

                    }
                }
            }

            

        }

        .right{
            flex:1;
            width: 20%;
            height: max-content;
            border: 0.25px solid lightgray;
            padding-right: 1%;
            margin-right: 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5%;
            position: sticky;
            top: 200px;
            max-height: 500px;
            // background-color: rgb(238, 235, 235);
            border-radius: 5px;
            padding-bottom: 1%;
            .desc{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                .name{
                    display: flex;
                // flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    padding-top: 5%;
                    img{
                        width: 55px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
                p{
                    margin-left: 5%;
                    font-weight: 300;
                    font-size: 15px;
                    font-family: "Roboto Slab", serif;
                }
            }
            
            button{
                width: 200px;
                margin-top: 16%;
                background-color: #1dbf73;
                // width: 30%;
                font-size: 25px;
                border: 0.5px solid white;
                color: white;
                padding: 3%;
                border-radius: 5px;
                cursor: pointer;
                
            }
        }
    }
}