.add {
    display: flex;
    justify-content: center;
  
    .container {
      .error{
        color: red;
      }
      width: 1400px;
      padding: 50px 0px;
  
      h1 {
        width: max-content;
        margin-bottom: 30px;
        color: gray;
        font-weight: 300;
      }
  
      .sections {
        display: flex;
        justify-content: space-between;
        gap: 100px;
  
        label {
          color: gray;
          font-size: 18px;
        }
  
        .info,
        .details {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: space-between;
  
          input,
          select,
          textarea {
            padding: 20px;
          }
        
          .images{
            display: flex;
            gap: 20px;
            padding-top: 2px;
            button{
                border-radius: 5px;
                height: 30px;
                width: 110px;
                padding: 9px;
                color: black;
                font-weight: 500;
                font-size: 15px;
                background-color: rgb(232, 226, 226);
                cursor: pointer;
            }
          }
          button {
            border: none;
            padding: 20px;
            color: white;
            font-weight: 500;
            font-size: 18px;
            background-color: #1dbf73;
            cursor: pointer;
            border-radius: 5px;
          }
        }
      }
    }
  }