.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #011a3f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  &.active {
    background-color: white;
    color: #011a3f;
    

  }
  .container {
    width: 100%;
    // background-color: lawngreen;
    display: flex;
    justify-content: space-between;
    // padding: 10px 100px 20px 100px;
    // padding-left: 100px;

    .logo {
      display: flex;
      align-items: center; /* Align items vertically */
      padding-left: 10%;
      padding-top: 1%;
      padding-bottom: 0.5%;
    
      .text {
        margin-top: 0;
        margin-bottom: 0; /* Reset margin */
        font-size: 60px; /* Adjust font size as needed */
        font-family: "Playfair Display", serif;
        margin-left: 10px; /* Add margin to create space between text and image */
      }
    
      img {
        width: 50px;
        height: auto; /* Maintain aspect ratio */
        margin-top: 0;
      }
    }
    .links {
      display: flex;
      gap: 24px;
      align-items: center;
      font-weight: 500;
      font-family: "Playfair Display", serif;
      font-size: 18px;
      padding-right: 5%;
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          border: 1px solid lightgray;
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: gray;
          width: 100px;
          font-weight: 200;
        }
      }
      span {
        font-family: "Roboto Slab", serif;
      }
      .button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        cursor: pointer;
        background-color: transparent;

        &:hover {
          background-color: #5fb7d9;
          color: #0f52ba;
        }
        &.active{
          color: #011a3f;
          border: 1px solid #011a3f;
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid rgb(221, 221, 221);
    
  }
  .menu {
    width: 100%;
    padding: 10px 0px;
    // display: flex;
    // justify-content: space-between;
    gap: 0px;
    font-weight: 300;
    font-size: 15px;
    color: gray;
    font-family: "Playfair Display", serif;
    // align-items: center;
    margin-left: 20%;
    // margin-right: 20%;
    // margin: auto;
    // span {
    //   font-family: "Roboto Slab", serif;
    // }
    .link{
      padding-left: 2%;
      padding-right: 2%;
        
      font-family: "Roboto Slab", serif;
      
    }
  }
}
